.paginationContainer {
    height: 13vh;
    /*border: 1px solid #ffaffb;*/
}
.paginationBlock {
    display: flex;
    justify-content: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 280px;
    height: 40px;
    cursor: pointer;
}

.paginationBlock__pageButton {
    display: inline-block;
    height: 100%;
    min-width: 40px;
    cursor: pointer;
}

.pageButton__whiteMode {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.pageButton__whiteMode:hover {
    background-color: #EDEDED;
}

.pageButton__nightMode {
    background-color: black;
    color: white;
    border: 1px solid white;

}

.pageButton__nightMode:hover {
    background-color: #464646;
    color: white;
}

.pageButton__whiteMode__page__active,
.pageButton__whiteMode__page__active:hover {
    color: white;
    background-color: black;
}

.pageButton__nightMode__page__active,
.pageButton__nightMode__page__active:hover {
    color: black;
    background-color: white;
}

.paginationBlock__pageButton__buttonDisabled__whiteMode {
    opacity: 0.3;
    background-color: #EDEDED;
    cursor: auto;
}

.paginationBlock__pageButton__buttonDisabled__nightMode {
    opacity: 0.3;
    cursor: auto;
}

.paginationBlock__pageButton__buttonDisabled__nightMode:hover {
    background-color: black;
}