.App {
  background-color: white;
  text-align: center;
}
.App__nightMode {
  background-color: black;
}
.App__container {
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1366px) {
  .App__container {
    width: 82%;
  }
}

