.App {
  text-align: center;
  margin: 2vh auto;
  width: 90%;
  min-height: 100vh;
  border: 1px solid red;
  /*display: flex;*/
  /*justify-content: space-between;*/
}
.App__nightMode {
  background-color: black;
}

.App-link {
  color: #61dafb;
}

