.selects__Block {
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    /*width: 90%;*/
}

.select {
    width: 24%;
    min-width: 160px;
    position: relative;
}

.select.is__active .selectBody {
    display: block;
}

.selectHeader {
    display: flex;
    /*cursor: pointer;*/
    width: 100%;
    height: 45px;
    border-radius: 8px;
    justify-content: space-between;
}

.selectHeader__test {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    cursor: pointer;
    width: 100%;
    /*max-width: 280px;*/
    /*min-width: 160px;*/
    /*min-width: 24%;*/
    height: 45px;
    border-radius: 8px 8px 0 0;
    /*margin: 0 auto;*/
}
.selectHeader__nightMode {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.selectHeader__whiteMode {
    border: 1px solid black;
}

.selectBody {
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    border-radius: 0 0 8px 8px;
    display: none;
    text-align: left;
    z-index: 99999;
    background-color: white;
    height: 345px;
    overflow-y: auto;
}

.selectBody::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 8px;
    /*background: red;*/
    /*border: 3px solid #61dafb;*/
    /*background-color: #5b5bb6;*/
}

.selectBody::-webkit-scrollbar-track {
    width: 2px;
    border-radius: 8px;
    background-color: #ffaffb;
}

.select__icon {
    /*align-items: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-shrink: 0;*/
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: auto;
    cursor: pointer;
    color: rgb(141, 143, 145);
}

/*.select__icon__arrow {*/
/*  display: none;*/
/*}*/

.select__item {
    line-height: 24px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;

}

.select__item__whiteMode {
    line-height: 24px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
background-color: white;
}

.select__item__nightMode {
    line-height: 24px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
}

.select__item__whiteMode:hover {
    background-color: black;
    color: white;
}
.select__item__nightMode:hover {
    background-color: white;
    color: black;
}


.select__current {
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select__current__input {
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 8px;
}
.select__current__input__nightMode {
    background-color: black;
    color: white;
}


.created__year__field {
    border: none;
    background: #EFEFEF;
    cursor: pointer;
    /*width: 75px;*/
    width: 30%;
    min-width: 50px;
    height: 42px;
    border-radius: 8px;
    margin: 0 auto;
    padding-left: 15px;

}

.SelectWithDate__selectBody {
    right: -2px;
    height: auto;
}


